// Sizes
$header-height: 50px;
$gutter-top-md: 10px;

// Colors
$white: #fdfdfd;
$black: #2f2f2f;
$green: #05b505;

// Background Colors
$primary-background: #eee;
$dark-background: #aaa;
$modal: rgba(0,0,0,0.5);

// Main Primary color
$color-primary-0: #236467;
$color-primary-1: #A4DCDE;
$color-primary-2: #4E8F92;
$color-primary-3: #08393C;
$color-primary-4: #001011;

// Main Complement color
$color-complement-0: #AA6D39;
$color-complement-1: #FFDBBC;
$color-complement-2: #F1B581;
$color-complement-3: #63350D;
$color-complement-4: #1C0D00;
