.rlist--inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .rlist--inline li {
    display: inline-block;
    padding: 10px; }

.flex {
  display: flex; }
  .flex--center {
    align-items: center; }

main {
  margin-top: 50px;
  padding: 10px; }

.text-onDark {
  color: #fdfdfd; }

header {
  background: #A4DCDE;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%; }

.logo {
  border: 1px solid #333;
  padding: 10px 40px;
  margin: 5px 5px 5px 20px;
  background: #236467; }

nav {
  margin-left: 20px; }
  nav a {
    color: #08393C;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto'; }
    nav a:hover {
      color: #AA6D39; }
