.hidden {
  display: none !important; }

.rlist--inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .rlist--inline li {
    display: inline-block;
    padding: 10px; }

.flex {
  display: flex; }
  .flex--center {
    align-items: center;
    justify-content: center; }
  .flex-column {
    flex-direction: column; }

main {
  margin-top: 50px;
  padding: 10px; }

.text-onDark {
  color: #fdfdfd; }

.success {
  color: #05b505;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid #236467; }

header {
  background: #A4DCDE;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%; }

.logo {
  border: 1px solid #333;
  padding: 10px 40px;
  margin: 5px 5px 5px 20px;
  background: #236467; }

nav {
  margin-left: 20px; }
  nav a {
    color: #08393C;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto'; }
    nav a:hover {
      color: #AA6D39; }

.file-submit {
  width: 75%;
  margin: 0 auto;
  max-width: 800px;
  border: 1px solid;
  padding: 0 0 20px; }
  .file-submit input[type='text'] {
    width: 460px;
    height: 25px;
    margin: 5px 20px 20px 0; }
  .file-submit .dropzone {
    background: #eee;
    border: 2px dashed #236467;
    height: 180px;
    padding: 20px;
    text-align: center;
    width: 200px; }
    .file-submit .dropzone:hover {
      background: #A4DCDE; }
  .file-submit img {
    width: 200px;
    border: 2px dashed #236467; }

.imageWrapper {
  margin: 10px;
  position: relative; }
  .imageWrapper img {
    height: 200px; }
  .imageWrapper .description {
    display: none; }
  .imageWrapper:hover .description {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center; }

.overlay, .figureViewer, .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.figureViewer {
  display: flex;
  justify-content: center; }
  .figureViewer .imageWrapper {
    z-index: 2;
    top: 5vh;
    position: relative; }
  .figureViewer img {
    height: 90vh; }

.modal {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; }
