.rlist--inline {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .rlist--inline li {
    display: inline-block;
    padding: 10px; }

.flex {
  display: flex; }
  .flex--center {
    align-items: center;
    justify-content: center; }
  .flex-column {
    flex-direction: column; }

main {
  margin-top: 50px;
  padding: 10px; }

.text-onDark {
  color: #fdfdfd; }

.success {
  color: #05b505;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid #236467; }
