@import './_variables';

.hidden {
	display: none!important;
}

.rlist--inline {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		padding: 10px;
	}
}

.flex {
	display: flex;

	&--center {
		align-items: center;
		justify-content: center;
	}

	&-column {
		flex-direction: column;
	}
	&--wrap {
		flex-wrap: wrap;
	}
}

main {
	margin-top: $header-height;
	padding: $gutter-top-md;
}

.text-onDark {
	color: $white;
}

.success {
	color: $green;
	margin-top: 20px;
	padding: 5px 10px;
	border: 1px solid $color-primary-0;
}