@import './_variables';

// Styles for full list of images


// Styles for individual images
.imageWrapper {
	margin: 10px;
	position: relative;

	img {
		height: 200px;
	}
	
	.description {
		display: none; // Hide the description until you hover over the image
		background: $dark-modal;
		color: $white;
		position: absolute;
		bottom: 10px;
		width: 100%;
		text-align: center;
		padding: 5px 0;
	}

	&:hover {
		.description {
			display: block;
		}
	}
}


// Figure Viewer Styles
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.figureViewer {
	@extend .overlay;
	display: flex;
	justify-content: center;

	.imageWrapper {
		z-index: 2;
		max-height: 90vh;
		top: 2vh;
		position: relative;
	}

	img {
		height: auto;
		max-height: 90vh;
		object-fit: contain;
	}

	.description {
		font-size: 1.25rem;
	}
}

.modal {
	background: $modal;
	@extend .overlay;
	z-index: 1; //So clicks on image don't close viewer
}

