@import './_variables';

// Styles for full list of images


// Styles for individual images
.imageWrapper {
	margin: 10px;
	position: relative;

	img {
		height: 200px;
	}
	
	.description {
		display: none;
	}

	&:hover {
		.description {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
		}
	}
}


// Figure Viewer Styles
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.figureViewer {
	@extend .overlay;
	display: flex;
	justify-content: center;

	.imageWrapper {
		z-index: 2;
		top: 5vh;
		position: relative;
	}

	img {
		height: 90vh;
	}
}

.modal {
	background: $modal;
	@extend .overlay;
	z-index: 1; //So clicks on image don't close viewer
}

